# Database
DATABASE_NAME=rabbitcrm
DATABASE_USER=rabbitcrm
DATABASE_PASSWORD=rabbitcrm123
DATABASE_HOST=localhost
DATABASE_PORT=5432

# Security
DJANGO_SECRET_KEY=change_me_in_prod
DJANGO_DEBUG=True

# CORS
CORS_ALLOWED_ORIGINS=http://localhost:3000,http://127.0.0.1:3000

# Logging
LOG_LEVEL=DEBUG
